<%= render 'partials/navbar' %>

<div class="container p-2">
  
  <div class="container">
    <div class="jumbotron mt-5">
      <h1 class="display-4"><%= @cocktail.name %></h1>
      <hr class="my-4">
      <p class="lead font-weight-bold">Cocktail Recipe</p>
      <% @cocktail.doses.each do |dose| %>
        <p>
          <%= dose.description %> | <%= dose.ingredient.name %>
          <%= link_to dose, method: :delete, data: { confirm: 'Are your sure?'} do %>
            <span><i class="far fa-minus-square ml-3"></i></span>
          <% end %>
        </p>
      <% end  %>
    </div>
  </div>

  <div class="container w-75">
    <%= simple_form_for [@cocktail, @dose] do |f| %>
      <div class="">
        <%= f.input  :description %>
        <%= f.association :ingredient %>
        <%#= f.input :photo, as: :file %>
      </div>
        <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>
  </div>

</div>

<%= render 'partials/footer' %>
