<div class="banner">

  <div class="container">
    <%= image_tag "title_logo.png", style: "width: 70%" %>
    <p>Lifechanging cocktail creations</p>
  </div>

  <div class="container py-3" style="max-height: 5rem">
    <div class="row row-cols-1 row-cols-md-3">
  
      <% @top_cocktails.each do |cocktail| %>
        <div class="col mb-4 w-50">
          <%= link_to cocktail_path(cocktail.id), style: "text-decoration: none" do %>
            <div class="card h-100">

              <% if cocktail.photo.attached? %>
                <%= cl_image_tag cocktail.photo.key, class: "card-img-top" %>
              <% else %>
                <%= image_tag 'sample_martini.jpg', class: "card-img-top"  %>
              <% end %>

              <div class="card-body">
                <h4 class="card-text"><%= cocktail.name %></h4>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
  
    </div>
    <%= link_to "Add a cocktail", new_cocktail_path, class: "btn btn-primary" %>
    <%= link_to "See all cocktails", cocktails_path, class: "btn btn-primary" %>
  </div>

</div>

<%= render 'partials/footer' %>
